.expression_spelling {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	/* font-weight: bold;
	font-size: 32px;
	line-height: 54px; */
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #0D4949;
}

.expression_inflection {
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #0D4949;	
}

.expression_info_block {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.info_row {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 2px;
	color: #70757a;
}

.info_row span {
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	/* font-weight: bold; */
	font-size: 12px;
	line-height: 21px;
	color: #343643;
}

.definition {
	/* margin-top: 10px; */
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}